.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 10%;
  }
}


.vh-100{
  background-image:url("../../public/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
}